.input {
  border-radius: 20px;
  margin: 32px auto 0 auto;
  width: 500px;
  height: 40px;
}

.ant-form-item-explain,
.ant-form-item-explain-error {
  text-align: center;
  margin-top: 15px;
}

.ant-btn {
  border-radius: 20px;
  height: 40px;
}

.avatar {
  margin: 0px 0px;
}

.avatar-row {
  max-width: 500px;
  overflow: auto;
}

.board-modal {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.board-form {
  width: 100%;
  padding: 0px 20px;
}

.board-input {
  height: 40px;
  border-radius: 20px;
}
